{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    {% get_current_language as language_code %}
    {% get_available_languages as languages %}
<div class="container">
    <h4 class="my-4">{% trans 'Change language' %}</h4>

    <form action="{% url 'set_language' %}" method="post">

        {% csrf_token %}

        <input name="next" type="hidden" value="{{ redirect_to }}"/>

        <div class="input-group input-group-outline my-3">
            <label class="form-label-inline w-30" for="language-field">{% trans 'Select the language' %}:</label>
            <select name="language" class="form-control" id="language-field">
                {% for code, name in languages %}
                    <option value="{{ code }}" {% if code == language_code %} selected="selected"{% endif %}>
                        {{ name }} ({{ code }})
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="text-center">
        <button type="submit" value="save" class="btn bg-gradient-info w-100 my-4 mb-2 mx-2">Change</button>
        </div>

    </form>
</div>
{% endblock %}
