{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}

<div class="container">
    <form role="form" class="text-start" method="post">
        {% csrf_token %}
        <div class="input-group input-group-dynamic my-3">
            <label class="form-label">Email</label>
            {% render_field form.email class="form-control" type="email" %}
        </div>
        <div class="input-group input-group-dynamic mb-3">
            <label class="form-label">Password</label>
            {% render_field form.password class="form-control" type="password" %}
        </div>
        <div class="form-check form-switch d-flex align-items-center mb-3">
            {% render_field form.remember_me class="form-check-input" type="checkbox" id="rememberMe" %}
            <label class="form-check-label mb-0 ms-2" for="rememberMe">Remember me</label>
        </div>
        <div class="text-center">
            <button type="submit" class="btn bg-gradient-info w-100 my-4 mb-2">Sign in</button>
        </div>
        <p class="mt-4 text-sm text-center">
            Don't have an account?
            <a href="{% url 'accounts:sign_up' %}" class="text-primary text-gradient font-weight-bold">Sign up</a>
        </p>
        <p class="text-xs text-center">
            <a href="% url 'accounts:restore_password' %}" class="text-info text-gradient font-weight-bold mx-2">Forgot Password?</a>
            <a href="{% url 'accounts:remind_username' %}" class="text-info text-gradient font-weight-bold mx-2">Forgot Username?</a>
            <a href="{% url 'accounts:resend_activation_code' %}" class="text-info text-gradient font-weight-bold mx-2">Resend Activation Code?</a>
        </p>
    </form>
</div>
{% endblock %}
