{% extends 'layouts/default/page.html' %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}patient-check{% endblock title %}
{% block content %}

<div class="container">
    <form role="form" class="text-start" action="{% url 'patient_records:patient_details' %}" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <section class="py-7">
          <div class="container">
            <div class="row justify-space-between py-2">
              <div class="col-lg-4 mx-auto">
                <div class="input-group input-group-dynamic mb-4">
                  <span class="input-group-text"><i class="fas fa-search" aria-hidden="true"></i></span>
                  <input class="form-control" name="aadhaarId" placeholder="Enter Patient Aadhar No" type="number" maxlength="12" pattern=".{12}">
                </div>
              </div>
            </div>
          </div>
        </section>
    </form>

    <h2 class="text-center mb-4">Recent Patient Records</h2>
    <div class="col-md-12 search-table-col m-4">
        <div class="table-responsive table table-hover table-bordered results">
            <table class="table table-hover table-bordered">
                <thead class="bill-header cs">
                    <tr>
                        <th class="text-center" id="trs-hd-1" class="col-lg-2">Patient Name</th>
                        <th class="text-center" id="trs-hd-2" class="col-lg-2">Aadhar No.</th>
                        <th class="text-center" id="trs-hd-3" class="col-lg-2">Date of Birth</th>
                        <th class="text-center" id="trs-hd-4" class="col-lg-1">Gender</th>
                        <th class="text-center" id="trs-hd-5" class="col-lg-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                    </tr>
                    {% for patient in patients %}
                    <tr>
                        <td class="text-center">{{ patient.aadhaarId}}</td>
                        <td class="text-center">{{ patient.name }}</td>
                        <td class="text-center">{{ patient.date_of_birth }}</td>
                        <td class="text-center">{{ patient.gender }}</td>
                        <td class="text-center">
                            <a href="/patient_records/patient-detail/{{ patient.aadhaarId }}"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--<div class="container" style="width:50%; margin-top: 5%; padding-top: 10px; border-radius: 25px; border: 2px solid black; margin-bottom:5%;">-->
<!--<div class="card-body">-->
<!--    <h4>Recent Patient Records</h4>-->
<!--    <table class="table">-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th scope="col">Patient Name</th>-->
<!--                <th scope="col">Aadhaar Id</th>-->
<!--                <th scope="col">Date Of Birth</th>-->
<!--                <th scope="col">Gender</th>-->
<!--                <th scope="col"></th>-->
<!--                <th scope="col"></th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--            {% for patient in patients %}-->
<!--            <tr>-->
<!--                <td>{{ patient.name }}</td>-->
<!--                <td>{{ patient.aadhaarId }}</td>-->
<!--                <td>{{ patient.date_of_birth }}</td>-->
<!--                <td>{{ patient.gender }}</td>-->
<!--                <td><a type="button" class="btn btn-warning" href="/patient_records/patient-update/{{ patient.aadhaarId }}">✍🏻</a></td>-->
<!--            </tr>-->
<!--            {% endfor %}-->
<!--        </tbody>-->
<!--    </table>-->
<!--    <a type="button" class="btn btn-info" href="#top">scroll up</a>-->
<!--</div>-->

<!--</div>-->

{% endblock %}