{% extends 'layouts/default/page.html' %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}

{% load i18n %}

{% block content %}

<div class="container">
<form method = "post">
    {% csrf_token %}
    <div class="input-group input-group-outline my-3">
        <label class="form-label-inline w-30">Problem:</label>
        {% render_field form.problem class="form-control" type="text"%}
    </div>
    <div class="input-group input-group-outline my-3">
        <label class="form-label-inline w-30">Body Site:</label>
        {% render_field form.body_site class="form-control" type="text"%}
    </div>
    <div class="input-group input-group-outline my-3">
        <label class="form-label-inline w-30">Severity:</label>
        {% render_field form.severity class="form-control"%}
    </div>
    <div class="input-group input-group-outline my-3">
        <label class="form-label-inline w-30">Abatement Date:</label>
        {% render_field form.abatement_date class="form-control" type="date" %}
    </div>
    <div class="input-group input-group-outline my-3">
        <label class="form-label-inline w-30">Diagnostic Certainity:</label>
        {% render_field form.diagnostic_certainty class="form-control"%}
    </div>
    <div class="text-center">
        <button type="submit" value="save" class="btn bg-gradient-info w-100 my-4 mb-2 mx-1">Add</button>
    </div>
</form>

</div>


<!--<div class="container" style="width:45%; margin-top: 5%; padding-top: 10px; border-radius: 25px; border: 2px solid black; margin-bottom:5%;  ">-->

<!--    -->
<!--    {% comment %} {% include 'patient_records/form.html'  with aadhaarId=patient.aadhaarId  form=form%} {% endcomment %}-->
<!--    {% include 'patient_records/table.html'  with aadhaarId=patient.aadhaarId  form=form%}-->

<!--</div>-->

{% endblock content %}